body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.main {
  position: relative;
  display: flex;
  min-height: calc(100% - 170px);
}

.question {
  font-family: "MTS Text";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 20px;
}

.question-icon {
  font-size: 24px;
  cursor: pointer;
}
