.card {
  margin-bottom: 20px;
  border: 1px #969fa8 solid;
  border-radius: 36px;
  padding: 25px;
  width: 911px;
  background-color: #fff;
}

.displayFlex {
  display: flex;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 132px 1fr;
  grid-template-rows: auto;
  min-height: 20px;
  margin-top: 31px;
  margin-bottom: 13px;
  align-items: top;
}

.text {
  margin: 0;
  margin-right: 28px;
  font-family: "MTS Text";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.point {
  color: #969fa8;
  font-family: "MTS Text";
  font-weight: 300;
  margin: 0;
  font-size: 14px;
}

.icon {
  width: 96px;
  height: 96px;
  margin-right: 36px;
}

.line {
  margin: 0;
}

.name {
  font-family: "MTS Wide";
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

.age {
  margin: 0;
  font-family: "MTS Text";
  font-weight: 300;
  font-size: 14px;
  margin: 14px 0;
  display: flex;
}

.sick {
  color: #ff0023;
  margin-left: 10px;
}

.sick span {
  position: relative;
  left: -4px;
}

.job {
  background-color: #a6d3ff;
  padding: 4px 16px;
  border-radius: 8px;
  color: #0070ff;
  font-family: "MTS Text";
  font-weight: 300;
  margin-right: 20px;
}

.job p,
.role p {
  margin: 0;
}

.role {
  padding: 4px 16px;
  border: 1px solid #a6d3ff;
  border-radius: 8px;
  font-family: "MTS Text";
  font-weight: 300;
  color: #0070ff;
}

.backgroundPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  backdrop-filter: blur(10px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #fff0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.button:hover img {
  color: black;
}
