.filter {
  list-style: none;
  margin-bottom: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 17px;
  font-family: "MTS Text";
  font-weight: 300;
}
