.logo {
  display: flex;
  align-items: center;
  height: 35px;
}

.icon {
  width: 32px;
  height: 32px;
}

.text {
  margin-left: 8px;
  font-family: "MTS Wide";
  font-weight: 500;
  color: var(--text-color);
  font-size: 17px;
}

.section {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
}
